body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.thankYou_container {
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  color: var(--text-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
.thankYou_container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #000;
}

.thankYou_container p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: var(--text-dark-color);
}

.thankYou_image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.thankYou_backButton {
  padding: 10px 20px;
  background-color: var(--button-primary-background-color);
  color: var(--button-primary-text-color);
  font-size: 1.2em;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid black;
}

.thankYou_backButton:hover {
  background-color: var(--button-primary-hover-background-color);
  color: var(--button-primary-hover-text-color);
}
:root {
  /*general*/
  --background-color: #fff;
  --header-color: #fff;
  --text-light-color: #ffffff;
  --text-dark-color: #000;
  --font-family: "Roboto", sans-serif;
  /*buttons*/
  --button-primary-text-color: #000;
  --button-secondary-text-color: #000;
  --button-primary-background-color: #fff;
  --button-secondary-background-color: #fff;
  --button-primary-hover-background-color: #000;
  --button-secondary-hover-background-color: #000;
  --button-primary-hover-text-color: #fff;
  --button-secondary-hover-text-color: #fff;
  --button-font-weight: 550;
  --button-border-radius: 0px;
  /*placeholder*/
  --placeholder-color: #999;
  /*product badge*/
  --badge-background-color: #000;
  --badge-text-color: #fff;
  --badge-border-radius: 0px;
  --badge-font-weight: 550;
  /*footer*/
  --footer-background-color: #000;
  --footer-link-color: #ffffff;
  --footer-copy-color: #ffffff;
  /*cookies*/
  --cookies-background-color: #000;
  --cookies-text-color: #ffffff;
  --cookies-link-color: #000;
  --cookies-copy-color: #000;
  --cookies-link-font-weight: 550;
}
